<style type="text/css" media="print,screen">

TR.tableheader
{
background-color: #DCDCDC;
}

TR.tablerow1
{
background-color: #efdf9f;
}

TR.tablerow2
{
background-color: #F5F5F5;
}

</style>

<!-- tablerow1 was #EEE8AA; tweaked to match logo -->