<style type="text/css" media="print,screen">

TR.tableheader
{
background-color: #DCDCDC;
}

TR.tablerow1
{
background-color: #efdf9f;
}

TR.tablerow2
{
background-color: #F5F5F5;
}

TR.tablerowSetAll
{
background-color: #CCFFFF;
}


TR.tablerowAddNew
{
background-color: #CCFFCC;
}


TH.tableheadercell
{
border-top-style:			solid;
border-top-width: 			1px;
border-top-color: 			#000000;	
border-left-style:			solid;
border-left-width: 			1px;
border-left-color: 			#000000;	
}

TD.tablecell
{
border-top-style:			solid;
border-top-width: 			1px;
border-top-color: 			#000000;	
border-left-style:			solid;
border-left-width: 			1px;
border-left-color: 			#000000;	
}

td.tablefooter
{
border-top-style:			solid;
border-top-width: 			1px;
border-top-color: 			#000000;	
}

</style>

<!-- tablerow1 was #EEE8AA; tweaked to match logo -->