<style type="text/css" media="print,screen">

a.MainTopic
{
color:		black;
font-weight:	bold;
font-size:	14pt;
}

a.SubTopic1
{
color:		black;
font-weight:	bold;
font-size:	12pt;
}

a.SubTopic2
{
color:		black;
font-weight:	normal;
font-size:	12pt;
}

a.Top
{
color:		black;
font-weight:	normal;
font-size:	10pt;
}
</style>